/*rojizo chocolate #5B1504
amarillo naranjoso #DF8A02
negro #000000
font-family: 'Poppins', sans-serif;*/

/*formato general del body*/
* {
	font-family: 'Poppins', sans-serif;/*fuente*/
	color: #FFFFFF;/*color de la fuente*/
}

/*formato general del header*/
header {
	background-image: url(../images/header.jpg); /*imagen del fondo*/
	background-size: cover;/*tamaño del fondo*/
	background-repeat: no-repeat;/*no repetir*/
	text-align: center;
	height: 25rem;
}
header .col-12 h1 {
	font-size: 4rem;
	padding-bottom: 2rem;
	padding-top: 0;
}
header .col-12 h3 {
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: 1.5rem;
	color: #000000;
}

/*formato general del nav*/
header nav .col-4 h2 {
	text-align: left;
	padding-left: 2rem;
	padding-top: 1.5rem;
}
header nav .col-4 .menu h3 {
	text-decoration: none;
	display: inline-block;
	padding: 1.5rem 0.5rem;
	color: #FFFFFF;
}
header nav .col-4 .menu h3:hover {
	color: #000000;
}

/*formato general section contact*/
.contact {
	background-color: #000000;
}
.contact .we-do {
	width: 65%;
}
.contact h3 {
	color: #DF8A02;
	padding-left: 1rem;
}
.contact p{
	color: #FFFFFF;
	padding-left: 1rem;
}
.contact .direction {
	width: 35%;
}
.contact .rainy-forest {
	padding: 0.5rem;
	background-color: #DF8A02;
	margin: 1rem 0 1rem 1rem;
}

/*formato general beers*/
.beers {
	background-color: #FFFFFF;
}
.beers .row .col-3 {
	height: 26rem;
}
.beers .row .col-3 h4,p {
	color: #5B1504;
	padding: 0 1rem 1rem 0rem;
}
.beers button {
	background-color: #DF8A02;
}
/*formato general del footer*/
footer {
	background-color: #000000;
	text-align: center;
	padding: 2rem 1rem;
}
footer h5,i {
	color: #DF8A02;
}