

@media (min-width: 100px) and (max-width: 1100px) { /*entre 100px y 1000px se va a ver con lo que le diga abajo*/
	[class*="col-"] { /*para llamar a cualquiera de las cols*/
		width: 100% /*para que se reordenen al hacer el achicado de pantalla*/
	}
	body .empty { /*para que desaparezcan los col- vacíos*/
		display: none;
	}
	/*fomato general del header nav*/
	header nav .col-4 h2 { /*formato detallado del h2 valdibeer*/
		display: inline-block;
	} 
	header nav .fa { /*para que aparezca el ícono menú*/
		display: inline-block;
		margin-left: 75%;
	} 
	header nav .fa:hover { /*efecto sobre el ícono menú*/
		color: #DF8A02;
	}
	header nav .menu { /*para que desaparezca el menú*/
		display: none;
	}
	/*formato general de section contact*/
	.contact .direction h3 { /*para corregir el relleno del h3 del div direction*/
		padding-left: 1rem;
		padding-bottom: 1rem;
	}
	.contact .direction p {/*para corregir el relleno del p del div direction*/
		padding-left: 1rem;
	}
}	

